@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
    background-color:dodgerblue;
}
#name{
    display: flex;
    justify-content: center;
    font-size: 65px;
    -webkit-text-stroke: 5px white;
    color: #FAB201;
    font-family: 'Fredoka One',cursive;
    font-weight: 900;
    margin-top:100px ;
}
.div{
    height: 100px;
    width: 100px;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px silver;
    display: flex;
    justify-content: center;
}
#names{
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3,110px);
    grid-template-rows: repeat(3,110px);
    column-gap: 1px;
    row-gap: 4px;
}
p{
    text-align: center;
    -webkit-text-stroke: 2px white;
    font-size: 25px;
    color: white;
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;  
}



