*{
    background-color:dodgerblue;
}
#name{
    display: flex;
    justify-content: center;
    font-size: 75px;
    -webkit-text-stroke: 5px white;
    color: yellow;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.div{
    border: 1px black solid ;
    height: 150px;
    width: 150px;
    background: white;
    border-radius: 10px;
}
#names{
    display: grid;
    grid-template-columns: repeat(3,160px);
    grid-template-rows: repeat(3,150px);
    column-gap: 1px;
    row-gap: 4px;
    margin-left: 500px;
}
p{
    -webkit-text-stroke: 1px white;
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}



